{% extends 'base.html' %}
{% block content %}

{% if forestList %}
    {% for data in forestList %}
    <div class="card" style="width: 40rem;">
    
  	<img src="{{ data.firstimage }}" class="card-img-top" alt="">
    
    <div class="card-body">
	  <h5 class="card-title">{{ data.title }}</h5>
    <div class="mb-1 text-muted">주소 : {{ data.addr1 }} {{ data.addr2 }}</div>
	  <div class="mb-1 text-muted">원본 대표 이미지 : {{ data.firstimage }}</div>

	  <a href="#" class="btn btn-primary">>> 자세히</a>
    </div>
    </div>
    <br>
    <br>
    {% endfor %}
{% endif %}

{% endblock %}